*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.containers{
    max-width: 100%;
    font-size: 40px; 
    padding:60px;
    margin: auto;

}
.btn{
    color: rgb(161, 11, 11);
    background: rgb(14, 221, 14);
    padding: 6px 10px;
    font-size: 16px;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}
